'''
Bindings to the {{interface_name}} library.
'''

import pathlib as _pathlib
import typing as _typing
import wasmer as _wasmer # type: ignore

from .bindings import *

_store = _wasmer.Store()
_wasm = _pathlib.Path(__file__).parent.joinpath("{{module_filename}}").read_bytes()
_module = _wasmer.Module(_store, _wasm)


def load() -> {{class_name}}:
    {% if wasi%}
    env = _wasmer.wasi.StateBuilder("").finalize()
    imports: dict[str, _typing.Any] = env.generate_imports(_store, _wasmer.wasi.Version.LATEST)
    {% else %}
    imports: dict[str, _typing.Any] = {}
    {% endif %}

    return {{class_name}}(_store, imports, _module)

