py.typed
{%- for library in libraries %}
include {{package_name}}/bindings/{{ library | replace('-', '_') }}/*.wasm
{%- endfor %}
{%- if commands %}
include {{package_name}}/commands/*.wasm
{%- endif %}
