[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
wabt = {path = "./../../../../target/tmp/wasmer-pack/python-wasi"}
pytest = "*"
wasmer = "*"
wasmer-compiler-cranelift = "*"
mypy = "*"
