[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
wit-pack = {path = "/home/consulting/Documents/wasmer/wit-pack/target/tmp/python"}

[dev-packages]

[requires]
python_version = "3.10"
