[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
wit-pack = {path = "./../../../../target/tmp/python"}
wasmer = "*"
wasmer-compiler-cranelift = "*"
pytest = "*"
mypy = "*"
