// @ts-ignore
{%- if wasi %}
import { Wasi } from "@wasmer/wasi";
{%- endif %}

{%- for lib in libraries %}
import { {{lib.class_name}} as _{{lib.class_name}} } from "./{{lib.interface_name}}/{{lib.interface_name}}";
{%- endfor %}

/**
 * Options used when initializing the bindings.
 */
export type LoadOptions = {
    /** Additional imports to be provided to the WebAssembly module */
    imports: WebAssembly.Imports,
    /**
     * A user-specified WebAssembly module to use instead of the one bundled
     * with this package.
     */
    module: WebAssembly.Module,
};

{%- if wasi %}
/**
* Extended options used when loading a WASI library.
 */
export type WasiLoadOptions = LoadOptions & {
    /** An initialized `@wasmer/wasi` object. */
    wasi: Wasi,
};
{%- endif %}

export default class Bindings {
    {%- for lib in libraries %}
    {%- if lib.wasi %}
    {{lib.ident}}(options?: Partial<WasiLoadOptions>): Promise<_{{lib.class_name}}>;
    {%- else %}
    {{lib.ident}}(options?: Partial<LoadOptions>): Promise<_{{lib.class_name}}>;
    {%- endif %}
    {%- endfor %}
}
