const fs = require("fs/promises");
const { init: initWasi, WASI } = require("@wasmer/wasi");

let compiledModule = undefined;

/** Lazily fetch and compile the WebAssembly module */
async function getModule() {
    if (!compiledModule) {
        const wasm = await fs.readFile(`${__dirname}/{{module_filename}}`);

        compiledModule = WebAssembly.compile(wasm);
    }

    return await compiledModule;
}

async function load(options) {
    await initWasi();
    const module = options?.module || await getModule();
    const wasi = new WASI(options?.wasi || {}, module);
    const imports = options?.imports || {};

    await wasi.instantiate(module, imports);

    return { code: wasi.start() };
}

module.exports = { load };
