{%- if commands %}
// @ts-ignore
import { Wasi } from "@wasmer/wasi";

export type RunOptions = {
    /** An initialized `@wasmer/wasi` object. */
    wasi: Wasi,
    imports: Record<string, WebAssembly.ModuleImports>,
};

export type ExitStatus = {
    code: number,
};
{%- endif%}
{%- if libraries %}
import Bindings from "./bindings";
{%- endif %}

export type Package = {
    {%- if libraries %}
    bindings: Bindings,
    {%- endif %}
    {%- if commands %}
    commands: {
        {%- for cmd in commands %}
        {{cmd.ident}}: (options?: Partial<RunOptions>) => Promise<ExitStatus>,
        {%- endfor%}
    }
    {%- endif %}
};

export default function(): Package;
