name: Releases

on:
  push:
    tags:
      - "v*"
  workflow_dispatch:

env:
  RUST_BACKTRACE: 1
  CARGO_NET_GIT_FETCH_WITH_CLI: true
  RUST_LOG: info,xtask=debug

jobs:
  publish-to-wapm:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Rust Cache
        uses: Swatinem/rust-cache@v2
      - name: Install WebAssembly targets
        run: rustup target add wasm32-unknown-unknown wasm32-wasi
      - name: Setup Wasmer
        uses: wasmerio/setup-wasmer@v1
      - name: Install cargo-wapm
        uses: actions-rs/cargo@v1
        with:
          command: install
          args: cargo-wapm --verbose --debug --version 0.3

      - name: Login to wapm.dev
        run: |
          wapm config set registry.url https://registry.wapm.dev
          wapm login ${{ secrets.WAPM_DEV_TOKEN }}
      - name: Publish to wapm.dev
        run: cargo wapm --package wasmer-pack-cli --package wasmer-pack-wasm
        continue-on-error: ${{ github.event_name == 'workflow_dispatch' }}
      - name: Update the bindings generator on wapm.dev
        uses: actions-rs/cargo@v1
        with:
          command: xtask
          args: set-generator wasmer/wasmer-pack-cli
        env:
          REGISTRY: https://registry.wapm.dev/graphql
          TOKEN: ${{ secrets.WAPM_DEV_TOKEN }}
          VERSION: latest
        continue-on-error: ${{ github.event_name == 'workflow_dispatch' }}

      - name: Login to wapm.io
        run: |
          wapm config set registry.url https://registry.wapm.io
          wapm login ${{ secrets.WAPM_PROD_TOKEN }}
      - name: Publish to wapm.io
        run: cargo wapm --package wasmer-pack-cli --package wasmer-pack-wasm
        continue-on-error: ${{ github.event_name == 'workflow_dispatch' }}
      - name: Update the bindings generator on wapm.io
        uses: actions-rs/cargo@v1
        with:
          command: xtask
          args: set-generator wasmer/wasmer-pack-cli
        env:
          REGISTRY: https://registry.wapm.io/graphql
          TOKEN: ${{ secrets.WAPM_PROD_TOKEN }}
          VERSION: latest
          COMMAND: wasmer-pack
        continue-on-error: ${{ github.event_name == 'workflow_dispatch' }}
